-----BEGIN CERTIFICATE-----
MIIF7jCCA9agAwIBAgIUMa+Fh97KN1j+dFDu0pUJPq0sqgwwDQYJKoZIhvcNAQEL
BQAwfjELMAkGA1UEBhMCVVMxEzARBgNVBAgMCkNhbGlmb3JuaWExFjAUBgNVBAcM
DU1vdW50YWluIFZpZXcxGjAYBgNVBAoMEVlvdXIgT3JnYW5pemF0aW9uMRIwEAYD
VQQLDAlZb3VyIFVuaXQxEjAQBgNVBAMMCWxvY2FsaG9zdDAeFw0xOTA3MjMxNDMy
MzBaFw0yOTA3MjAxNDMyMzBaMH4xCzAJBgNVBAYTAlVTMRMwEQYDVQQIDApDYWxp
Zm9ybmlhMRYwFAYDVQQHDA1Nb3VudGFpbiBWaWV3MRowGAYDVQQKDBFZb3VyIE9y
Z2FuaXphdGlvbjESMBAGA1UECwwJWW91ciBVbml0MRIwEAYDVQQDDAlsb2NhbGhv
c3QwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQDSpKpezaL2im7XuODE
9DQ5RmLeK2YUsY5XStqmF0B28YDbhLHjV/8fGTI6oM7+FQ0TDXMGvWsVpss61at5
xGicHP8MwDSW78BJl7TsO/l6PvDPnFZe9bzmVapABrs5Uqf16H39G9XA890Hy7Zp
yUc+asHOt24GSVALM+dnc5uaKXaHDTBXbHok47sk/EA90Q2dBKzdFJAyl7LC14GY
0iEjBiu1iCdKfAEgkYs+vLLWCJ9HF3hlDJ7u5bJS9czvKojsgq1+irIjdfHWWqMa
U8onlWb8XDeMS0xzL6rjQZKX1hPzMPioLJlE1nxIpbPV1Aokri9wLjQp3zwP/l3P
cEzqD0q1DMZxxkQI2cQSuyjUQ4/v6CYKAKlPPxv7qWZqD4J8hA6CENVtgIn67d0f
4fcQ3V1eZ6IN22jTieBHDBfj7Q8yKYlKrv5ZkRH3bQWdOGvj6sC9aCK2xSDpvGsC
AQkNBhFw+lQ1BKvXd3dfVXE3ahMTv1cK5Mu+KCo7hIC66/UG7IP/Uer/aTi5Hhc8
XazMFY6a7h2myAM+PGpjDbeJ7sIX/9nRenY3DMp3CvqL0EYJ6P+SbVxM2lTksusw
nZUZqdf1ZAzfmx+HIw8ReiFq1bqe/I9WmRwn/oxhOLYNxMSq4aOezRfizCbfN5Ti
9aWCcrocTyDm/gxykl8YSWV7bwIDAQABo2QwYjAdBgNVHQ4EFgQUuCcfXE0QKBxT
+9kAmhQkXstBhcswHwYDVR0jBBgwFoAUuCcfXE0QKBxT+9kAmhQkXstBhcswDwYD
VR0TAQH/BAUwAwEB/zAPBgNVHREECDAGhwR/AAABMA0GCSqGSIb3DQEBCwUAA4IC
AQCUdG5FAs9z39FZ31pU+k7+iWRf0E11MBwZOwfvEKukTXBljp3r5Iv7N3FDOkE3
7EjBWSyHbxf9togZnuxLjDpU7I2fnkQeuFbrxx5iNO0EZcswqcpUAzL7yZKITDg4
n0+BeitTDB9iEgDGBtzz3K4Hhrqcg/zX2MeQnNDruMSs3Lanfer1prBwBnbA7Awj
ayRhDvDKS/+uBqknGaLc/7D9C/r5eUOMdxnrXkH2WgTzLGPWt29waa3ecak0ad3m
uJbbUaq3hviDL8F5cSugSbUH6S6XYwY2oULC5qwibacsXBwCtSJgmXZd8Z9l2Q6V
sktAtQoPFTKIDSN1ryHvxVpDRTGXV57O+5SHV8skmnH6ZREvyBBn05AgtRL8AkKN
sGNkpBMFZchKTTHQ4BPxaD95d9a4hRmDCnx+CWLRqCTRR9S0D99X0l63H5Y8ie0l
oCHLJ4RAZM00zAGp92Orz6K9lC5skZTv65QqSIGRbT7AVwWLC8n/kInaiLbtbDmR
lWiLKWXA1QNyGynXSs2o3nmBEanYnTo0nxn4kzqf6K6Yarppv7bByJHXK8U/GisE
3/3Xp1ac8CcFpk5QZwm4KZxK69GMKXm7wNwBYPm0nUYIE/RH7d1YexJC4gZ2YnYe
SArZSehyLnlAyNAbItuLhhuppMjP4aWP11Wax5V1HRZQ9A==
-----END CERTIFICATE-----
